*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: var(--button-primary);
    text-decoration: none;
}

body{
    --background: #fafafa;
    --white: #ffffff;
    --black: #000000;
    --button-primary: #0095f6;
    --border-primary: #e6e6e6;

    background: var(--background);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

#wrapper{
   height: 100vh; 
}

#container{
    margin: 0 auto;
    min-height: 100%;
    width: 800px;
    display: flex;
    align-items: center;
}

.column{
    flex-grow: 1;
    width: 50%;
}

.left{
    background-image: url("./assets/main-foto.png");
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin-bottom: 50px;
}

.right{
    padding: 20px;
}

.login-panel{
    background-color: var(--white);
    border: 1px solid var(--border-primary);
    text-align: center;
    padding: 20px 0;
}

.logo-img{
    width: 175px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="password"], input[type="text"]{
    background-color: var(--background);
    border: 1px solid var(--border-primary);
    height: 40px;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
    font-size: 13px;
    width: 320px;
    color: #000000;
}

input[type="password"]::placeholder, input[type="text"]::placeholder{
    color: rgb(165, 164, 164);
}

input[type="password"]:focus, input[type="text"]:focus{
    outline: 0;
    border: 1px solid #a1a1a1;
}

input[type="submit"]{
    width: 320px;
    margin-top: 10px;
    height: 30px;
    border: 0;
    background-color: #3c96ed;
    border-radius: 4px;
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

.infobox{
    background-color: var(--white);
    height: 60px;
    border: 1px solid var(--border-primary);
    margin: 10px auto 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.infobox p{
    user-select: none;
}

.infobox p a{
    font-weight: bold;
    user-select: none;/* Para não conseguir selecionar o texto */
}

.get-app-panel{
    margin-top: 20px;
    text-align: center;
}

.app-buttons{
    margin: 50px 0;
}

.app-buttons img{
    height: 40px;
    padding: 0 2px;
}

footer{
    text-align: center;
    height: 50px;
    margin-top: -50px;
}

footer a{
    color: var(--black);
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 8px;
    margin-left: 3px;
}

.text-small{
    font-size: 12px;
    font-weight: bold;
    color: grey;
    text-transform: uppercase;
    padding-left: 20px;
    display: inline-block; /* Quando é quebrado a linha, devido ao tamanho da página, sai do inline e passa para block. */
}

/* INÍCIO PÁGINA SIGNUP */
#container-signup{
    margin: 10% auto;
    min-height: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
}

.message{
    margin: 10px 70px;
}

.message span{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #8e8e8e;
}

.cta-button{
    width: 320px;
    margin: 10px 0;
    height: 35px;
    background-color: var(--button-primary);
    color: var(--white);
    border: 0;
    border-radius: 4px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.divisor-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.line{
    height: 1px;
    background-color: var(--background);
    width: 35%;
}

.divisor-tag{
    font-weight: bold;
    margin: 0 2.5%;
    color: #8e8e8e;
    user-select: none;
}
/* FIM PÁGINA SIGNUP */

/* RESPONSIVIDADE */
@media (max-width: 850px){
    .left{
        display: none;
    }

    #container{
        width: 70%;
    }

    .right{
        padding-left: 5%;
    }
}

@media (max-width: 560px){
    #container{
        width: 95%;
    }

    #container-signup{
        width: 95%;
    }

    input[type="password"], input[type="text"], input[type="submit"]{
        width: 85%;
    }

    .cta-button{
        width: 85%;
    }
}


@media (max-width: 361px){
    .message{
        margin: 10px 25px;
    }

    .infobox{
    font-size: 13px;
    }

}